{:highlights [{:id #uuid "66eac34d-6753-48d6-b73a-729c64550c55",
               :page 1,
               :position {:bounding {:x1 125,
                                     :y1 233.546875,
                                     :x2 554.4588470458984,
                                     :y2 273.375,
                                     :width 659.9999999999999,
                                     :height 779.9999999999999},
                          :rects ({:x1 132.71678161621094,
                                   :y1 233.546875,
                                   :x2 554.4588470458984,
                                   :y2 252.546875,
                                   :width 659.9999999999999,
                                   :height 779.9999999999999}
                                  {:x1 125,
                                   :y1 254.375,
                                   :x2 499.805419921875,
                                   :y2 273.375,
                                   :width 659.9999999999999,
                                   :height 779.9999999999999}),
                          :page 1},
               :content {:text "merica is enormous: the third largest country in the world with a population of more than 300 million people"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
