{:highlights [{:id #uuid "67ab8a7a-df7a-4f81-a766-3db94e0b2ff2",
               :page 1,
               :position {:bounding {:x1 113.10000658035278,
                                     :y1 181.0500030517578,
                                     :x2 568.5269627571106,
                                     :y2 210.8100128173828,
                                     :width 948.9499999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 113.10000658035278,
                                   :y1 181.0500030517578,
                                   :x2 568.5269627571106,
                                   :y2 210.8100128173828,
                                   :width 948.9499999999999,
                                   :height 1319.9999999999998}
                                  {:x1 167.67001390457153,
                                   :y1 185.85000610351562,
                                   :x2 568.5269627571106,
                                   :y2 207.5550079345703,
                                   :width 948.9499999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Choose a trailhead that you are interested in exploring."},
               :properties {:color "green"}}],
 :extra {:page 1}}
